<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="WekaScoring"
   iconfile="WS.png"
   description="Weka pre-built model scoring"
   tooltip="This step appends predictions from a pre-built Weka model"
   category="Transform"
   classname="org.pentaho.di.scoring.WekaScoringMeta">
   <libraries>
    <!-- library name="scoring.jar"/ -->
    <library name="weka.jar"/>
    <library name="xstream-1.2.2.jar"/>
    <library name="xpp3_min-1.1.3.4.O.jar"/>
    </libraries>
    
   <localized_category>
     <category locale="en_US">Transform</category>
   </localized_category>
   <localized_description>
     <description locale="en_US">Weka Scoring</description>
   </localized_description>
   <localized_tooltip>
     <tooltip locale="en_US">Appends predictions from a pre-built Weka model</tooltip>
   </localized_tooltip>
   
</plugin>
