<!DOCTYPE html>

<html>

<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"></meta>
<meta charset="utf-8"></meta>
<link rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"></link>
</head>

<body>

  <div class="container">
    <div class="row">
      <div id="loginModal" class="modal show" tabindex="-1"
        role="dialog" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
           <div class="modal-body">
              <form class="form col-md-12 center-block" th:action="@{/login}" method="post">
                <div class="form-group">
                  <input type="text" class="form-control input-lg"
                    placeholder="Username" name="username"></input>
                </div>
                <div class="form-group">
                  <input type="password" class="form-control input-lg"
                    placeholder="Password" name="password"></input>
                </div>
                <div class="form-group">
                  <button class="btn btn-primary btn-lg">Sign
                    In</button>
                </div>
              </form>
            </div>
            <div class="modal-footer" style="border-top: 0px;">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>

</html>